# Configurações do Django
SECRET_KEY=5b956442-e92b-452c-a9aa-dc46e0e29526
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Origens permitidas para CSRF (separadas por vírgula)
CSRF_TRUSTED_ORIGINS=https://*.ngrok-free.app,https://grionsistema.pythonanywhere.com
