# Configurações do Django
SECRET_KEY=gere-uma-chave-secreta-longa-e-aleatoria-para-producao
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,seu-usuario.pythonanywhere.com

# Origens permitidas para CSRF (separadas por vírgula)
CSRF_TRUSTED_ORIGINS=https://seu-usuario.pythonanywhere.com
