# Ambientes Virtuais
env/
venv/
ENV/
.venv/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Django temporários, mídia e banco de dados local
db.sqlite3
media/
*.log
local_settings.py
.idea/
.vscode/
__pycache__/
*.pyc

# Configurações de usuário do Visual Studio
*.pyproj.user
.vs/